main {
  .hero {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 56px;
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.33);
    }
  }
}
